# sorted by: creation date (earliest commit)

[submodule "shellcheck-bin-doc"]
	path = shellcheck-bin-doc
	url = ssh://aur@aur.archlinux.org/shellcheck-bin-doc.git

[submodule "xpadneo-dkms"]
	path = xpadneo-dkms
	url = ssh://aur@aur.archlinux.org/xpadneo-dkms.git

[submodule "tela-circle-icon-theme-spl-git"]
	path = tela-circle-icon-theme-spl-git
	url = ssh://aur@aur.archlinux.org/tela-circle-icon-theme-spl-git.git

[submodule "vscode-xdg-patch-hook"]
	path = vscode-xdg-patch-hook
	url = ssh://aur@aur.archlinux.org/vscode-xdg-patch-hook.git
